<footer class="" >
    <div class=" row " >
        <div class="" >
            <!--Sociale Media-->
            <div class="icons"  >
                <ul class=" list-inline ">
                    <li class="list-inline-item">
                        <a href="https://fr-fr.facebook.com/">
                            <i><img src="/assest/images/facebook.png"></i>
                        </a>
                    </li>
                    <li class="list-inline-item ">
                        <a href="https://twitter.com/">
                            <i> <img src="/assest/images/twitter.png"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/">
                            <i><img src="/assest/images/instagram.png"></i>
                        </a>
                    </li>
                </ul>
            <!--End of the sociale midia-->
            </div>
        </div>
    </div>
</footer>
