/*footer*/
footer {
    background-color:#343232;
    height: 60px;
    margin-top: 7em;
}
.icons {
    padding-right: 0;
    padding-left:  0;
    text-align: center;
    padding-top: 12px;
}
.list-inline img {
    width: 32px;
    height: 32px;
}
.list-inline>li>a>i>img:hover {
    animation: spinAround 2s linear infinite;
}
@keyframes spinAround {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}
.match img {
    height: 120px;
}
.match a {
    display: block;
    text-align: center;
}
.vs img{
    width: 14em;
}
.flage {
    margin: 10px;
}
.paye {
    text-align: center;
    display: inline;
}
.contre {
    text-align: center;
}
.first {
    margin-top: 2px;
}
.maison h1{
    font-size: 40px;

}
@media screen and (max-width: 415px) {
.list-inline img {
        width: 26px;
        height: 26px;
}
.listlink a{
        font-size: 1em;
    }
.icons {
        margin-top: 2.3rem;
    }
}