.match img {
    height: 120px;
}
.match a {
    display: block;
    text-align: center;
}
.vs img{
    width: 14em;
}
.flage {
    margin: 10px;
}
.paye {
     text-align: center;
     display: inline;
 }
.contre {
    text-align: center;
}
.first {
    margin-top: 10em;
}
h1{
    font-size: 40px;
    text-align: center;

}