{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('tournament/tournament.css') }}">
    <div class ="row">
        <div class="col-md-3">

            {% for challenge in challenges %}
            <table>
                <tbody>
                    <tr class="ligne">
                        <td class="blue">Blue</td>
                        <td>{{ challenge.greyTeam.country }}</td>
                        <td><img src="/uploads/flagImages/{{ challenge.greyTeam.flagImg }}" class="img-responsive flag"></td>
                        {% if challenge.greyTeam.teamName == challenge.winnerTeam.teamName %}
                        <td>Win</td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
            {% endfor %}

        </div>
    </div>
{% endblock %}