{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="text-align: center;">Challenge creation</h1>

    <div style="text-align: center;">

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Create"/>
        {{ form_end(form) }}

        <a href="{{ path('challenge_index') }}">Back to the list</a>

    </div>
{% endblock %}
